<div class='wrapper'>
    <div class='my-shelter'>
        <div class='beds-controller'>
            <button>-</button><span>35</span><button>+</button>
        </div>
        <div class='my-info'>
        </div>
    </div>
    <div class='search'>
        <div class='filters'>
        </div>
    </div>
</div>