<div class='wrapper'>
    <div class='my-shelter'>
        <div id='beds-controller'>
            <button v-on:click="decrement">-</button>
            <span>\{{ beds_available }}</span>
            <button v-on:click="increment">+</button>
        </div>
        <div id='my-info'>
        </div>
    </div>
    <div class='search'>
        <div id='filters'>
        </div>
    </div>
</div>