#beds-controller {
    width:100%;
    height:50%;
    display:flex;
    flex-direction:column;
    border-bottom:3px solid $font-primary;
    justify-content: center;
    align-items:center;

    h2 {
        margin-bottom: 72px;
        color: $font-secondary;
    }

    .fa-bed {
        font-size:12em;
        color: $font-primary;
    }

    .controller-row {
        display: flex;
        width: 50%;
        align-items: center;

        .bed-count {
            font-size:3em;
        }

    }

}