h2 {
    text-align: center;
    color: $font-secondary;
}

#filters {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px 0px;

    .col{
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        .label {
            display:block;
        }
    }
}

#results-display {
    display:flex;
    flex-direction:column;
    overflow-y: scroll;

    .shelter-result {
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        width:100%;
        padding: 12px 0px;
        border-bottom:1px solid black;

        .left {
            float:left;
            padding-left:40px;

            .name {
                font-size:2em;
                padding-bottom:8px;
            }
        }

        .right {
            float:right;
            padding-right:40px;
            text-align: right;

            .beds-available {
                font-size:2em;
                padding-bottom:8px;
            }
        }

    }

}