#my-shelter-info {
    display: flex;
    flex-direction:column;  

    h2 {
        color: $font-secondary;
    }
    
    label {
        font-weight: bold;
        font-size: 1.3em;
        color: $font-secondary;
    }
}